@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
}

@layer components {
  body {
    @apply selection:bg-primary selection:text-white caret-primary;
  }

  .input {
    @apply rounded shadow shadow-gray-300 bg-gray-200 border-none focus:ring-primary focus:ring-offset-2 focus:ring-2 py-1 transition placeholder:text-gray-600;
  }

  .check {
    @apply text-primary border-2 border-gray-400 ring-offset-primary rounded focus:ring-primary focus:ring-2 transition block;
  }

  .btn {
    @apply rounded shadow px-2 py-1 font-medium focus:ring-primary focus:ring-2 focus:ring-offset-2 outline-transparent transition;
  }
}

/* from the old stylesheet
$primary: #A80C04
$secondary: #152635

$font-family-sans-serif: "Fira Sans", sans-serif
$font-family-monospace: "Fira Mono", monospace

//$input-btn-focus-width: 0px;

//$enable-rounded: false;

@import "bootstrap/scss/bootstrap"
*/
